In [1]:
# import standard libraries

import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('abs.csv')    # если кодировка не UTF-8, то либо сохранить в ней через Блокнот, либо добавить в скобки ", encoding='ISO-8859-1"'
df.head()

     word                                         lemma atag
0  @TEOTD                         At the end of the day   Ab
1     0FB         Zero feedback; refers to a new member   Ab
2     10M  Ten man as in ten man squad in online gaming   Ab
3     10Q                                     Thank you   Ab
4     10X                                        Thanks   Ab

In [4]:
df = df.set_index('word')
df.head()

                                               lemma atag
word
@TEOTD                         At the end of the day   Ab
0FB            Zero feedback; refers to a new member   Ab
10M     Ten man as in ten man squad in online gaming   Ab
10Q                                        Thank you   Ab
10X                                           Thanks   Ab

In [5]:
df.index

Index(['@TEOTD', '0FB', '10M', '10Q', '10X', '14AA41', '1CE', '1Day', '1DR',
       '1NAM', '1TG; 2TG', '1TO', '1UP', '2B', '2BH', '2DAY', '2day ', '2EZ'],
      dtype='object', name='word')

In [6]:
dict = df.to_dict('index')
dict

{'@TEOTD': {'lemma': 'At the end of the day', 'atag': 'Ab'},
 '0FB': {'lemma': 'Zero feedback; refers to a new member', 'atag': 'Ab'},
 '10M': {'lemma': 'Ten man as in ten man squad in online gaming',
  'atag': 'Ab'},
 '10Q': {'lemma': 'Thank you', 'atag': 'Ab'},
 '10X': {'lemma': 'Thanks', 'atag': 'Ab'},
 '14AA41': {'lemma': 'One for all; and all for one', 'atag': 'Ab'},
 '1CE': {'lemma': 'Once', 'atag': 'Ab'},
 '1Day': {'lemma': 'A one day auction/listing', 'atag': 'Ab'},
 '1DR': {'lemma': 'I wonder', 'atag': 'Ab'},
 '1NAM': {'lemma': 'One in a million', 'atag': 'Ab'},
 '1TG; 2TG': {'lemma': '1 to go or 2 to go. Meaning number of items needed for win (online bingo)',
  'atag': 'Ab'},
 '1TO': {'lemma': 'One time only', 'atag': 'Ab'},
 '1UP': {'lemma': 'Meaning extra life (online gaming)', 'atag': 'Ab'},
 '2B': {'lemma': 'To Be', 'atag': 'Ab'},
 '2BH': {'lemma': 'To Be Honest', 'atag': 'Ab'},
 '2DAY': {'lemma': 'Today', 'atag': 'Ab'},
 '2day\xa0': {'lemma': ' Today', 'atag': 'Ab'},
 '2EZ': {'lemma': 'Too Easy', 'atag': 'Ab'}}

In [7]:
current_key = '0FB'
dict[current_key]

{'lemma': 'Zero feedback; refers to a new member', 'atag': 'Ab'}

In [8]:
dict[current_key]['lemma']

'Zero feedback; refers to a new member'